<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.mywaiter.mywaiter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotesActivity"
            android:label="@string/menuBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TablesActivity"
            android:label="@string/table"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateOrder"
            android:label="@string/newOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewOrder"
            android:label="@string/newOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewOrders"
            android:label="@string/viewOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/menuID"
            android:screenOrientation="portrait" />
        <activity android:name=".LetsMakeAnOrder" />
        <activity android:name=".UpdateOrder"></activity>
    </application>

</manifest>